@import url('https://fonts.googleapis.com/css2?family=Anton&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --african-violet: rgb(117, 79, 175);
    --lavender-pink: #f0a6caff;
    --pink-lavender:rgb(139, 76, 175);
    --lavender-blush: rgb(238, 207, 235);
    --periwinkle: #b8beddff;    
    --fonte-principal: "Anton", sans-serif;
    --fonte-secundaria: "Zilla Slab", serif;
}

body {
    font-family: var(--fonte-secundaria);
    background-color: var(--african-violet);
    color: var(--lavender-blush);
}

.img.thumbnail{
    border: 2px solid var(--lavender-blush)
}

h1, h3 {
    font-family: var(--fonte-principal);
}

.card{
    background-color: var(--pink-lavender);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    border: 5px solid var(--lavender-blush);
}

.footer-link{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--lavender-blush);
}

